In [1]:
import numpy as np
import pandas as pd

from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
import re
import itertools

import string
import re, nltk
from collections import Counter

In [2]:
df = pd.read_csv('../data/MIMIC-III-Final.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52722 entries, 0 to 52721
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  52722 non-null  int64
 1   TEXT        52722 non-null  object
 2   HADM_ID     52722 non-null  float64
 3   ICD9_CODE   52722 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.6+ MB

In [4]:
len(df['HADM_ID'].unique())

52722

In [5]:
for p in string.punctuation:
    df['ICD9_CODE'] = df['ICD9_CODE'].apply(lambda x: x.replace(p, ''))

In [6]:
df['DIAG_CODES'] = df['ICD9_CODE'].apply(lambda x: x.replace(' ', ','))

In [7]:
df.head()

,Unnamed: 0,TEXT,HADM_ID,ICD9_CODE,DIAG_CODES
0,0,{Admission Date: [**2117-9-11**] ...,100001.0,25013 3371 5849 5780 V5867 25063 5363 4580 250...,"25013,3371,5849,5780,V5867,25063,5363,4580,250..."
1,1,{Admission Date: [**2150-4-17**] ...,100003.0,53100 2851 07054 5715 45621 53789 4019 53550 7823,"53100,2851,07054,5715,45621,53789,4019,53550,7823"
2,2,{Admission Date: [**2108-4-6**] Dischar...,100006.0,49320 51881 486 20300 2761 7850 3090 V1251 V1582,"49320,51881,486,20300,2761,7850,3090,V1251,V1582"
3,3,{Admission Date: [**2145-3-31**] ...,100007.0,56081 5570 9973 486 4019,"56081,5570,9973,486,4019"
4,4,{Admission Date: [**2162-5-16**] ...,100009.0,41401 99604 4142 25000 27800 V8535 4148 4111 V...,"41401,99604,4142,25000,27800,V8535,4148,4111,V..."

In [8]:
def high_level_code(lst):
    return [code[:3] for code in lst.split(',')]

In [9]:
df['HIGH_LVL_DIAG'] = df['DIAG_CODES'].apply(high_level_code)

In [10]:
df['HIGH_LVL_DIAG'].unique

<bound method Series.unique of 0        [250, 337, 584, 578, V58, 250, 536, 458, 250, ...
1            [531, 285, 070, 571, 456, 537, 401, 535, 782]
2            [493, 518, 486, 203, 276, 785, 309, V12, V15]
3                                [560, 557, 997, 486, 401]
4        [414, 996, 414, 250, 278, V85, 414, 411, V45, ...
                               ...
52717        [410, 428, 427, 427, 518, 424, 276, 511, 518]
52718        [486, 428, 518, 397, 496, 416, 585, 427, 276]
52719    [421, 746, 429, 304, 441, 442, V12, 041, 305, ...
52720    [414, 997, 997, 427, 788, 411, V45, E87, 429, ...
52721    [482, 518, 511, 584, 276, 786, 799, 414, V45, ...
Name: HIGH_LVL_DIAG, Length: 52722, dtype: object>

In [11]:
diag_codes = {}
for i, s in enumerate(df['HIGH_LVL_DIAG']):
    for w in s:
        diag_codes[w] = diag_codes.get(w, 1) + 1
diag_codes = {k: v for k, v in sorted(diag_codes.items(), key=lambda item: item[1], reverse=True)}

In [12]:
print('Diag High Level: %d' %(len(diag_codes)))

Diag High Level: 941

In [13]:
icd_groups = {
    0: '001-139',
    1: '140-239',
    2: '240-279',
    3: '280-289',
    4: '290-319',
    5: '320-389',
    6: '390-459',
    7: '460-519',
    8: '520-579',
    9: '580-629',
    10:'630-679',
    11:'680-709',
    12:'710-739',
    13:'740-759',
    14:'760-779',
    15:'780-799',
    16:'800-999',
    17:'V01-V91',
    18:'E000-E999'
}

In [14]:
def convert_hi_lvl(org_lst):
    hi_lvl = []
    for c in org_lst:
        if c.startswith('E'):
            hi_lvl.append(18)
        elif c.startswith('V'):
            hi_lvl.append(17)
        else:
            c = int(c)
            if c >= 800 and c <= 999:
                hi_lvl.append(16)
            elif c >= 780 and c <= 799:
                hi_lvl.append(15)
            elif c >= 760 and c <= 779:
                hi_lvl.append(14)
            elif c >= 740 and c <= 759:
                hi_lvl.append(13)
            elif c >= 710 and c <= 739:
                hi_lvl.append(12)
            elif c >= 680 and c <= 709:
                hi_lvl.append(11)
            elif c >= 630 and c <= 679:
                hi_lvl.append(10)
            elif c >= 580 and c <= 629:
                hi_lvl.append(9)
            elif c >= 520 and c <= 579:
                hi_lvl.append(8)
            elif c >= 460 and c <= 519:
                hi_lvl.append(7)
            elif c >= 390 and c <= 459:
                hi_lvl.append(6)
            elif c >= 320 and c <= 389:
                hi_lvl.append(5)
            elif c >= 290 and c <= 319:
                hi_lvl.append(4)
            elif c >= 280 and c <= 289:
                hi_lvl.append(3)
            elif c >= 240 and c <= 279:
                hi_lvl.append(2)
            elif c >= 140 and c <= 239:
                hi_lvl.append(1)
            elif c >= 1 and c <= 139:
                hi_lvl.append(0)
    return hi_lvl

In [15]:
df['CODED_HIGH_LVL_DIAG'] = df['HIGH_LVL_DIAG'].apply(convert_hi_lvl)

In [16]:
df.head()

,Unnamed: 0,TEXT,HADM_ID,ICD9_CODE,DIAG_CODES,HIGH_LVL_DIAG,CODED_HIGH_LVL_DIAG
0,0,{Admission Date: [**2117-9-11**] ...,100001.0,25013 3371 5849 5780 V5867 25063 5363 4580 250...,"25013,3371,5849,5780,V5867,25063,5363,4580,250...","[250, 337, 584, 578, V58, 250, 536, 458, 250, ...","[2, 5, 9, 8, 17, 2, 8, 6, 2, 6, 9, 2, 5, 2, 11..."
1,1,{Admission Date: [**2150-4-17**] ...,100003.0,53100 2851 07054 5715 45621 53789 4019 53550 7823,"53100,2851,07054,5715,45621,53789,4019,53550,7823","[531, 285, 070, 571, 456, 537, 401, 535, 782]","[8, 3, 0, 8, 6, 8, 6, 8, 15]"
2,2,{Admission Date: [**2108-4-6**] Dischar...,100006.0,49320 51881 486 20300 2761 7850 3090 V1251 V1582,"49320,51881,486,20300,2761,7850,3090,V1251,V1582","[493, 518, 486, 203, 276, 785, 309, V12, V15]","[7, 7, 7, 1, 2, 15, 4, 17, 17]"
3,3,{Admission Date: [**2145-3-31**] ...,100007.0,56081 5570 9973 486 4019,"56081,5570,9973,486,4019","[560, 557, 997, 486, 401]","[8, 8, 16, 7, 6]"
4,4,{Admission Date: [**2162-5-16**] ...,100009.0,41401 99604 4142 25000 27800 V8535 4148 4111 V...,"41401,99604,4142,25000,27800,V8535,4148,4111,V...","[414, 996, 414, 250, 278, V85, 414, 411, V45, ...","[6, 16, 6, 2, 2, 17, 6, 6, 17, 17, 3, 6, 2, 6,..."

### Codes to dict

In [17]:
diag_keep = df['ICD9_CODE'].apply(lambda x: x.split(' ')).tolist()

In [18]:
list_sum = sum(diag_keep, [])

In [19]:
count = dict((i, list_sum.count(i)) for i in list_sum)

In [20]:
count

{'25013': 401,
 '3371': 136,
 '5849': 8907,
 '5780': 416,
 'V5867': 2497,
 '25063': 259,
 '5363': 499,
 '4580': 285,
 '25043': 181,
 '40390': 3350,
 '5853': 723,
 '25053': 162,
 '36201': 849,
 '25083': 57,
 '7078': 141,
 'V1351': 45,
 '53100': 59,
 '2851': 4499,
 '07054': 1187,
 '5715': 1250,
 '45621': 409,
 '53789': 331,
 '4019': 20053,
 '53550': 430,
 '7823': 271,
 '49320': 732,
 '51881': 7249,
 '486': 4733,
 '20300': 178,
 '2761': 2985,
 '7850': 588,
 '3090': 48,
 'V1251': 1568,
 'V1582': 2741,
 '56081': 226,
 '5570': 475,
 '9973': 388,
 '41401': 12179,
 '99604': 54,
 '4142': 290,
 '25000': 8784,
 '27800': 1483,
 'V8535': 14,
 '4148': 848,
 '4111': 1649,
 'V4582': 2651,
 '2859': 5296,
 '2720': 5766,
 '4262': 12,
 '44021': 250,
 'V153': 675,
 'V4502': 711,
 '1890': 217,
 '1961': 244,
 '1987': 129,
 '1976': 305,
 '27652': 1347,
 '85206': 85,
 '82111': 23,
 '86403': 28,
 '48242': 158,
 '8600': 355,
 '86121': 394,
 '80703': 123,
 '8220': 34,
 '8052': 298,
 '30560': 381,
 '8900': 20,
 '82525': 49,
 'E8152': 18,
 '99811': 1508,
 '4139': 1078,
 'V1021': 92,
 'V8741': 400,
 'E8782': 1189,
 '5070': 3592,
 '25541': 213,
 '47874': 60,
 '7580': 103,
 '34590': 933,
 '2512': 120,
 '45829': 2094,
 '30000': 1552,
 '5368': 37,
 'V441': 497,
 '2254': 11,
 '70723': 142,
 '4321': 380,
 '42833': 1210,
 '3363': 111,
 '72271': 39,
 '99702': 412,
 '74602': 89,
 '6827': 182,
 'V6284': 139,
 '5119': 2693,
 '70707': 292,
 '4280': 12842,
 '42731': 12594,
 'V5861': 3698,
 '25040': 933,
 '25060': 1114,
 '3572': 1552,
 '25070': 120,
 '44381': 55,
 '496': 4296,
 '412': 3203,
 '40310': 122,
 '4241': 2517,
 '7464': 311,
 '4412': 479,
 '5990': 6442,
 '34409': 9,
 '5601': 1056,
 '0417': 398,
 '59654': 216,
 '340': 297,
 '2930': 1434,
 '0414': 958,
 '5738': 158,
 '3373': 16,
 '3694': 241,
 '53081': 6156,
 'V1302': 144,
 'E8788': 1317,
 'E8497': 1024,
 '04104': 609,
 '0413': 470,
 '5728': 192,
 'V1581': 626,
 '2819': 156,
 '78009': 555,
 '8248': 58,
 '99649': 61,
 '5712': 1163,
 '30301': 345,
 '30421': 75,
 '30401': 275,
 '29181': 788,
 '78820': 1012,
 '2875': 3002,
 '42732': 1191,
 '79902': 1267,
 '5180': 2137,
 '5722': 654,
 '5997': 497,
 '8250': 27,
 'E8849': 107,
 'E8490': 344,
 '99662': 943,
 'V4960': 4,
 '45182': 202,
 '27401': 99,
 'V3000': 949,
 '7756': 282,
 '7708': 180,
 '7661': 132,
 'V502': 724,
 'V053': 2119,
 '5761': 649,
 '0389': 3580,
 '5184': 299,
 '57481': 17,
 '99591': 1251,
 '8738': 31,
 'E9288': 59,
 '7742': 2183,
 '76518': 762,
 'V290': 2529,
 '7706': 494,
 '41519': 845,
 '4510': 6,
 '56881': 197,
 '4538': 599,
 '5781': 674,
 '4430': 145,
 '73300': 1910,
 '2724': 8504,
 '6961': 283,
 '49391': 31,
 '4275': 1281,
 '34982': 636,
 '78001': 134,
 '4254': 1666,
 '99731': 545,
 '2762': 4358,
 '3481': 422,
 '42822': 1081,
 '2760': 2221,
 '8054': 304,
 '49390': 2113,
 '3004': 1076,
 '5859': 3367,
 'E8798': 1466,
 '34510': 86,
 'E8889': 965,
 '24900': 105,
 'E9320': 543,
 '9971': 2313,
 '41402': 464,
 '52100': 97,
 '41072': 267,
 '2948': 1094,
 '4439': 1364,
 '28521': 1367,
 '43330': 256,
 '20501': 30,
 '430': 617,
 '6826': 728,
 '2841': 454,
 '3485': 923,
 'V707': 510,
 '04111': 693,
 '2250': 20,
 '28800': 241,
 '28850': 139,
 '7802': 419,
 '42789': 2396,
 '7910': 23,
 '7847': 295,
 '4589': 1992,
 '27650': 326,
 '78659': 248,
 '25080': 430,
 '41400': 1429,
 'V4581': 2943,
 '78909': 60,
 '42843': 323,
 'V4282': 71,
 '20401': 6,
 '5854': 329,
 '7824': 158,
 '4259': 53,
 '78791': 1037,
 '78701': 289,
 '62211': 3,
 '5739': 34,
 '4168': 2118,
 'E9331': 554,
 'E8498': 362,
 '72888': 378,
 '4414': 650,
 '2449': 4788,
 '2749': 2033,
 'V3001': 1391,
 '76519': 488,
 '769': 1299,
 '7793': 1047,
 '76528': 515,
 '7717': 54,
 '78039': 1879,
 '5856': 1868,
 'V5413': 31,
 '5718': 271,
 '5789': 1355,
 '2753': 451,
 '311': 3347,
 '30302': 8,
 '3331': 120,
 '99791': 30,
 'V4501': 1360,
 '570': 1034,
 '5724': 333,
 '5845': 2223,
 '2867': 456,
 '53200': 73,
 '11284': 124,
 '70710': 36,
 '7895': 518,
 '2767': 2113,
 '40391': 2566,
 '30303': 4,
 '3051': 3272,
 '34680': 23,
 '99832': 231,
 'V1046': 1180,
 'V1083': 501,
 '96500': 42,
 '30411': 26,
 '7235': 12,
 '9694': 162,
 'E9500': 175,
 'E9503': 193,
 '4160': 395,
 'V1254': 1043,
 '7701': 16,
 '74783': 27,
 '7700': 62,
 '7761': 73,
 '77181': 223,
 '5771': 424,
 '78097': 233,
 'E8844': 138,
 '25012': 201,
 '32723': 2328,
 '3659': 701,
 '41412': 79,
 '99889': 205,
 'E8790': 450,
 '3963': 336,
 '79439': 19,
 'V103': 1228,
 'V148': 36,
 'V1749': 89,
 '4260': 514,
 '4592': 156,
 '5121': 780,
 '78906': 44,
 '37272': 55,
 '25050': 435,
 '4263': 274,
 '2440': 197,
 'V4511': 573,
 'V4579': 214,
 'V8801': 153,
 '4550': 207,
 '56210': 830,
 '56409': 328,
 '49392': 181,
 '34290': 465,
 '78552': 2501,
 '55220': 19,
 '79989': 14,
 '99592': 3792,
 '34541': 23,
 'V8536': 23,
 '34690': 514,
 'V5869': 169,
 '73382': 53,
 '5533': 643,
 '41011': 532,
 '99812': 1199,
 '8670': 191,
 'V3101': 853,
 '1625': 163,
 '19889': 425,
 '5122': 6,
 '4928': 621,
 '5110': 71,
 'E8786': 299,
 '34830': 659,
 '4232': 52,
 '42820': 408,
 'V4986': 1275,
 'E8794': 35,
 '1531': 15,
 '1974': 97,
 '1962': 247,
 '42613': 129,
 '78321': 174,
 '42831': 427,
 '2763': 967,
 '29420': 164,
 '60001': 313,
 'V1005': 748,
 '41071': 3001,
 '78551': 1108,
 '2869': 985,
 '45821': 117,
 '56400': 810,
 '76526': 487,
 '76513': 24,
 '76403': 9,
 '1570': 126,
 '2866': 432,
 '51851': 172,
 '56723': 185,
 '78959': 946,
 '5762': 353,
 '99809': 20,
 '9982': 900,
 '5752': 3,
 '99674': 562,
 '45382': 78,
 '5730': 72,
 '28984': 97,
 '53541': 104,
 '42823': 1127,
 '41189': 198,
 '27801': 1150,
 '43889': 452,
 '7820': 73,
 '04186': 201,
 '28860': 844,
 '30029': 26,
 '30981': 279,
 '39891': 429,
 'V1011': 502,
 'V152': 3,
 '56982': 48,
 '56211': 231,
 '99749': 112,
 '5710': 44,
 'E8783': 101,
 '30501': 382,
 '5770': 943,
 '43491': 700,
 '51882': 743,
 '5772': 201,
 'V667': 968,
 '2768': 1400,
 '99590': 37,
 '30391': 699,
 '4568': 183,
 '5185': 1778,
 '8602': 95,
 '25001': 309,
 '57400': 100,
 '04149': 189,
 '2811': 68,
 '2731': 77,
 '7837': 171,
 '4240': 2878,
 '71531': 15,
 '60000': 1464,
 '2689': 148,
 '78052': 303,
 '4264': 163,
 'V4365': 795,
 'V1051': 333,
 'V1588': 372,
 '99681': 500,
 'E8780': 418,
 '58381': 578,
 '7806': 410,
 '0382': 85,
 '481': 191,
 '79092': 971,
 '3569': 426,
 '71690': 276,
 'V1301': 223,
 '452': 251,
 '53551': 147,
 '6238': 45,
 '53021': 55,
 'V440': 560,
 '76511': 1,
 '76527': 869,
 '51884': 672,
 '78057': 563,
 '2662': 245,
 '80122': 64,
 '80507': 100,
 '86501': 30,
 'E8121': 81,
 '33811': 42,
 '86389': 38,
 '92311': 3,
 '38589': 21,
 '6951': 17,
 '2765': 1294,
 'E9361': 70,
 '2639': 1240,
 '78702': 121,
 '82021': 139,
 '42832': 1221,
 'E8859': 678,
 '33520': 42,
 'V4611': 205,
 'E912': 182,
 '9341': 134,
 'V090': 655,
 'E9300': 114,
 '37200': 25,
 '9974': 754,
 '5531': 177,
 '70703': 1260,
 '70722': 423,
 '7094': 1,
 '76515': 298,
 '77989': 336,
 '77081': 1033,
 '77981': 601,
 '7473': 115,
 'E9444': 123,
 '7821': 241,
 '4471': 128,
 '42741': 551,
 '8072': 99,
 '7907': 1472,
 '79001': 293,
 'V4987': 222,
 '75312': 70,
 '80701': 185,
 '7242': 475,
 'V5866': 276,
 'V4364': 777,
 'V451': 174,
 'E8888': 48,
 '0380': 366,
 '72886': 84,
 '60883': 27,
 '7245': 350,
 '33829': 685,
 '55090': 123,
 'V4283': 82,
 '85186': 54,
 'V1009': 94,
 '3488': 142,
 '7866': 74,
 '2559': 28,
 '1977': 762,
 '1985': 813,
 '1970': 729,
 '1550': 324,
 '1120': 638,
 '4532': 78,
 '57511': 115,
 '56039': 50,
 '5793': 126,
 '5571': 122,
 'V442': 207,
 '515': 529,
 '1541': 42,
 '48281': 7,
 '99859': 1175,
 '1125': 170,
 '41041': 557,
 '4271': 1767,
 '76514': 212,
 '76404': 17,
 '77211': 110,
 '77089': 444,
 '7750': 124,
 '7784': 76,
 '5307': 188,
 '78559': 505,
 '5723': 984,
 '07070': 655,
 '4561': 120,
 '70724': 116,
 '99672': 460,
 '71590': 873,
 '1911': 69,
 '1726': 4,
 '2728': 17,
 '7810': 95,
 '28262': 12,
 '2766': 568,
 '5173': 8,
 '61610': 30,
 '0419': 19,
 '0549': 114,
 '25011': 190,
 '2888': 82,
 '462': 33,
 '44284': 45,
 '5768': 278,
 '96509': 68,
 '20190': 80,
 '7455': 651,
 '78900': 140,
 '2989': 110,
 '7231': 81,
 '4401': 231,
 '3669': 156,
 '2874': 576,
 'E9342': 678,
 'V641': 173,
 '4541': 3,
 '9975': 444,
 '44020': 425,
 'E8784': 73,
 '42781': 385,
 '7102': 62,
 '71946': 68,
 '9210': 16,
 '0416': 207,
 '85202': 68,
 '86405': 114,
 'E8160': 212,
 '3102': 23,
 '8730': 332,
 '48241': 786,
 '45341': 329,
 '29570': 203,
 '72889': 138,
 '48282': 103,
 '7932': 4,
 '0539': 72,
 '1121': 101,
 '5569': 239,
 '38010': 13,
 '2252': 213,
 '74781': 61,
 '72989': 219,
 'E8708': 78,
 '431': 1294,
 '03849': 391,
 'E9308': 232,
 '1101': 37,
 'V173': 687,
 '4329': 72,
 '43310': 773,
 '2800': 991,
 '5563': 5,
 '3310': 553,
 '49121': 1177,
 '2864': 21,
 '53082': 82,
 '53019': 208,
 'E9359': 138,
 '53190': 154,
 '43883': 80,
 'V0254': 155,
 '56212': 328,
 '6270': 3,
 '1588': 13,
 '73313': 295,
 '9998': 79,
 '42830': 785,
 'V643': 33,
 '6144': 10,
 '78609': 161,
 '51889': 679,
 '00845': 1428,
 '42821': 484,
 '80126': 102,
 '8026': 139,
 '8024': 228,
 '87342': 257,
 '8020': 221,
 '4619': 55,
 '87343': 104,
 'E8122': 94,
 '37034': 6,
 '37941': 34,
 'V443': 215,
 '1735': 6,
 '1737': 8,
 '49322': 295,
 '40291': 80,
 'V1006': 158,
 'V462': 451,
 '0479': 27,
 '9950': 65,
 '6930': 539,
 '3003': 69,
 '319': 172,
 '78340': 19,
 '73730': 162,
 '37273': 15,
 '37515': 8,
 '70715': 426,
 'E9310': 59,
 '80504': 36,
 'E8809': 505,
 '27803': 99,
 '920': 179,
 '5130': 82,
 '5109': 189,
 '53084': 22,
 '1504': 20,
 '5902': 11,
 '41512': 44,
 '45340': 94,
 '5303': 179,
 '04102': 80,
 '34292': 79,
 '7210': 196,
 '36250': 221,
 '71945': 70,
 '78721': 31,
 '34831': 272,
 '99779': 46,
 '83500': 25,
 '9778': 12,
 'E8588': 5,
 'E9289': 280,
 '1105': 28,
 '7140': 640,
 '7200': 49,
 '30390': 577,
 '2809': 1157,
 'V5865': 881,
 '5839': 83,
 'V420': 330,
 '4242': 177,
 '85305': 24,
 '3484': 654,
 '45342': 136,
 'V1584': 87,
 '29530': 61,
 '3320': 501,
 '4210': 380,
 '9961': 150,
 '99673': 199,
 '5206': 10,
 '5224': 37,
 '53783': 124,
 '1749': 56,
 '7702': 108,
 '5579': 137,
 '4239': 430,
 '67004': 6,
 '24290': 108,
 '66624': 8,
 'V181': 2,
 '64814': 4,
 '2459': 3,
 '135': 249,
 '41092': 50,
 '2142': 2,
 '2891': 2,
 '83908': 12,
 '7840': 261,
 'E8120': 249,
 'E8495': 169,
 '86803': 129,
 '03842': 464,
 '5881': 31,
 '29680': 578,
 '0362': 4,
 '0360': 5,
 '7854': 118,
 '73007': 106,
 '36281': 22,
 '5289': 40,
 '04110': 57,
 '35981': 47,
 '1123': 129,
 'V6549': 23,
 '28419': 137,
 '2764': 523,
 '73016': 16,
 '99667': 70,
 '9054': 23,
 'E9299': 25,
 '51181': 129,
 '25002': 452,
 '1991': 160,
 '9690': 85,
 '2920': 167,
 '29620': 156,
 '28249': 76,
 '53260': 10,
 '1623': 321,
 'V8542': 45,
 '1982': 39,
 '5272': 36,
 '72210': 89,
 '73393': 1,
 'E8768': 15,
 '99881': 105,
 '27669': 353,
 '7211': 83,
 '34400': 121,
 '3369': 26,
 '9349': 75,
 'E915': 198,
 'V1049': 11,
 '41091': 346,
 '1173': 113,
 '05479': 27,
 '38201': 3,
 '1972': 208,
 '1983': 738,
 '2848': 316,
 '2769': 97,
 '72972': 38,
 '27541': 368,
 '6829': 8,
 '30500': 884,
 '73679': 93,
 '7904': 430,
 'E8791': 173,
 '1629': 166,
 '7103': 16,
 '2853': 49,
 'V1255': 139,
 '6929': 148,
 'V1047': 45,
 'V4975': 274,
 '23875': 194,
 '78060': 292,
 '69589': 37,
 '27400': 21,
 '5779': 54,
 '25200': 96,
 '7856': 207,
 '07032': 273,
 '78194': 193,
 '138': 68,
 '34511': 21,
 'E9379': 83,
 'V4981': 3,
 '4400': 277,
 '80841': 58,
 '78093': 50,
 'V3100': 127,
 '76517': 456,
 '70712': 118,
 '44023': 259,
 '73710': 79,
 'V0980': 182,
 '0388': 203,
 '60784': 63,
 'V422': 463,
 'V1272': 283,
 '53782': 53,
 '7863': 386,
 '4476': 49,
 '1518': 27,
 '56983': 224,
 '5695': 85,
 '5680': 400,
 '3950': 26,
 '8910': 81,
 '86404': 24,
 '82101': 80,
 'E8230': 59,
 '88003': 10,
 '8748': 31,
 '8830': 24,
 '1469': 1,
 '27651': 1349,
 '30393': 302,
 'V161': 61,
 '53240': 269,
 '03811': 511,
 '042': 522,
 '20021': 2,
 '28803': 124,
 '0542': 32,
 '3576': 39,
 'V170': 14,
 'V180': 178,
 '78841': 38,
 '99664': 211,
 '3379': 62,
 '41001': 137,
 '585': 263,
 '71535': 73,
 '20283': 17,
 'V1082': 419,
 '70719': 135,
 '4660': 121,
 '3970': 764,
 '4169': 79,
 '56731': 34,
 '7746': 334,
 '29410': 593,
 '33394': 239,
 '78720': 482,
 '43411': 630,
 '43311': 124,
 '34291': 71,
 '7843': 472,
 '78722': 123,
 '70720': 113,
 'V1041': 102,
 'V1242': 13,
 '7560': 18,
 '75889': 4,
 '75251': 33,
 '7449': 2,
 '75329': 62,
 '0383': 108,
 '55221': 72,
 '1179': 128,
 '5609': 266,
 '7885': 278,
 'V5331': 138,
 '7994': 245,
 '30400': 102,
 '27787': 13,
 '2752': 263,
 '35989': 15,
 '7291': 350,
 '5672': 211,
 '7070': 262,
 '51883': 323,
 '1830': 80,
 '4251': 179,
 '42611': 132,
 '57420': 343,
 'V4571': 114,
 '71595': 55,
 'V3401': 235,
 '76516': 353,
 '99682': 173,
 '0785': 91,
 '5720': 95,
 '2518': 184,
 'V1007': 66,
 '71489': 4,
 '40311': 38,
 '5855': 94,
 '45981': 499,
 '28989': 31,
 '48283': 258,
 '51902': 144,
 '226': 4,
 '34839': 278,
 '9070': 67,
 '29040': 154,
 '4370': 194,
 '33382': 6,
 '72252': 62,
 '04101': 36,
 '78830': 295,
 'V550': 122,
 'E9293': 55,
 '9654': 204,
 '30591': 34,
 '4590': 112,
 'E9800': 37,
 'E888': 18,
 '5939': 663,
 '85221': 363,
 '2532': 75,
 '2535': 83,
 '3518': 49,
 '04189': 68,
 '2572': 37,
 'V4586': 225,
 '7775': 69,
 '7724': 11,
 '56989': 72,
 '7766': 406,
 '7512': 20,
 '6948': 4,
 '3441': 240,
 '74190': 27,
 '4553': 68,
 '2189': 74,
 '6181': 13,
 '05410': 27,
 '6918': 10,
 'V446': 68,
 '3453': 243,
 '72973': 59,
 '3480': 50,
 '28529': 1078,
 'V8538': 20,
 'E8781': 691,
 '4110': 38,
 '7470': 382,
 '7707': 185,
 '6823': 214,
 '76525': 280,
 '42761': 19,
 '7786': 55,
 '4578': 47,
 '51289': 17,
 '78829': 209,
 '79319': 20,
 '7948': 86,
 '7916': 2,
 '5711': 297,
 '5290': 8,
 '72400': 188,
 '4552': 99,
 '72740': 2,
 '20020': 26,
 '78606': 51,
 '3962': 380,
 '4555': 40,
 '71536': 181,
 '36520': 2,
 '7243': 86,
 '7384': 48,
 '7262': 4,
 '72992': 86,
 '9651': 27,
 'V5811': 44,
 '4558': 55,
 '4420': 8,
 '53140': 261,
 '78550': 181,
 '30392': 24,
 '2911': 21,
 '57450': 99,
 '2112': 46,
 '82121': 19,
 '86400': 7,
 '82380': 5,
 '86801': 24,
 '80120': 47,
 '88100': 29,
 '36510': 8,
 'V4962': 26,
 'V1201': 107,
 '2409': 72,
 '47822': 9,
 '5552': 30,
 '56722': 233,
 '11289': 110,
 '56721': 85,
 '3071': 23,
 '04109': 139,
 '7131': 5,
 '33819': 54,
 '78903': 17,
 '78902': 5,
 '80502': 146,
 '80709': 153,
 '81000': 150,
 '82300': 61,
 '8911': 27,
 ...}

In [21]:
sorted_count = {}
sorted_keys = sorted(count, key=count.get, reverse=True)[:300]

for w in sorted_keys:
    sorted_count[w] = count[w]

In [22]:
sorted_count

{'4019': 20053,
 '4280': 12842,
 '42731': 12594,
 '41401': 12179,
 '5849': 8907,
 '25000': 8784,
 '2724': 8504,
 '51881': 7249,
 '5990': 6442,
 '53081': 6156,
 '2720': 5766,
 '2859': 5296,
 '2449': 4788,
 '486': 4733,
 '2851': 4499,
 '2762': 4358,
 '496': 4296,
 '99592': 3792,
 'V5861': 3698,
 '5070': 3592,
 '0389': 3580,
 '5859': 3367,
 '40390': 3350,
 '311': 3347,
 '3051': 3272,
 '412': 3203,
 '2875': 3002,
 '41071': 3001,
 '2761': 2985,
 'V4581': 2943,
 '4240': 2878,
 'V1582': 2741,
 '5119': 2693,
 'V4582': 2651,
 '40391': 2566,
 'V290': 2529,
 '4241': 2517,
 '78552': 2501,
 'V5867': 2497,
 '42789': 2396,
 '32723': 2328,
 '9971': 2313,
 '5845': 2223,
 '2760': 2221,
 '7742': 2183,
 '5180': 2137,
 'V053': 2119,
 '4168': 2118,
 '49390': 2113,
 '2767': 2113,
 '45829': 2094,
 '2749': 2033,
 '4589': 1992,
 '73300': 1910,
 '78039': 1879,
 '5856': 1868,
 '5185': 1778,
 '4271': 1767,
 '4254': 1666,
 '4111': 1649,
 'V1251': 1568,
 '30000': 1552,
 '3572': 1552,
 '99811': 1508,
 '27800': 1483,
 '7907': 1472,
 'E8798': 1466,
 '60000': 1464,
 '2930': 1434,
 '41400': 1429,
 '00845': 1428,
 '2768': 1400,
 'V3001': 1391,
 '28521': 1367,
 '4439': 1364,
 'V4501': 1360,
 '5789': 1355,
 '27651': 1349,
 '27652': 1347,
 'E8788': 1317,
 '769': 1299,
 '2765': 1294,
 '431': 1294,
 '4275': 1281,
 'V4986': 1275,
 '79902': 1267,
 '70703': 1260,
 '99591': 1251,
 '5715': 1250,
 '2639': 1240,
 'V103': 1228,
 '42832': 1221,
 '42833': 1210,
 '99812': 1199,
 '42732': 1191,
 'E8782': 1189,
 '07054': 1187,
 'V1046': 1180,
 '49121': 1177,
 '99859': 1175,
 '5712': 1163,
 '2809': 1157,
 '27801': 1150,
 '42823': 1127,
 '25060': 1114,
 '78551': 1108,
 '2948': 1094,
 '42822': 1081,
 '4139': 1078,
 '28529': 1078,
 '3004': 1076,
 '5601': 1056,
 '7793': 1047,
 'V1254': 1043,
 '78791': 1037,
 '570': 1034,
 '77081': 1033,
 'E8497': 1024,
 '78820': 1012,
 '2800': 991,
 '2869': 985,
 '5723': 984,
 '79092': 971,
 'V667': 968,
 '2763': 967,
 'E8889': 965,
 '0414': 958,
 'V3000': 949,
 '78959': 946,
 '99662': 943,
 '5770': 943,
 '34590': 933,
 '25040': 933,
 '3485': 923,
 '9982': 900,
 '30500': 884,
 'V5865': 881,
 '71590': 873,
 '76527': 869,
 'V3101': 853,
 '36201': 849,
 '4148': 848,
 '41519': 845,
 '28860': 844,
 '56210': 830,
 '1985': 813,
 '56400': 810,
 'V4365': 795,
 '29181': 788,
 '48241': 786,
 '42830': 785,
 '5121': 780,
 'V4364': 777,
 '43310': 773,
 '3970': 764,
 '76518': 762,
 '1977': 762,
 '9974': 754,
 'V1005': 748,
 '51882': 743,
 '1983': 738,
 '49320': 732,
 '1970': 729,
 '6826': 728,
 'V502': 724,
 '5853': 723,
 'V4502': 711,
 '3659': 701,
 '43491': 700,
 '30391': 699,
 '04111': 693,
 'E8781': 691,
 'V173': 687,
 '33829': 685,
 '51889': 679,
 'E8859': 678,
 'E9342': 678,
 'V153': 675,
 '5781': 674,
 '51884': 672,
 '5939': 663,
 '34830': 659,
 'V090': 655,
 '07070': 655,
 'V433': 655,
 '5722': 654,
 '3484': 654,
 '7455': 651,
 '4414': 650,
 '5761': 649,
 '5533': 643,
 '7140': 640,
 '1120': 638,
 '34982': 636,
 '43411': 630,
 'V1581': 626,
 '4928': 621,
 '430': 617,
 '04104': 609,
 '77981': 601,
 '4538': 599,
 '29410': 593,
 '7850': 588,
 '58381': 578,
 '29680': 578,
 '30390': 577,
 '2874': 576,
 'V4511': 573,
 '2766': 568,
 '78057': 563,
 '99674': 562,
 'V440': 560,
 '41041': 557,
 '78009': 555,
 'E9331': 554,
 '3310': 553,
 '42741': 551,
 '3314': 547,
 '99731': 545,
 'E9320': 543,
 '6930': 539,
 '41011': 532,
 '515': 529,
 '2764': 523,
 '042': 522,
 '7895': 518,
 '51919': 518,
 '76528': 515,
 '4260': 514,
 '34690': 514,
 '03811': 511,
 'V707': 510,
 '78559': 505,
 'E8809': 505,
 'V1011': 502,
 'V1083': 501,
 '3320': 501,
 '99681': 500,
 '5363': 499,
 '45981': 499,
 'V441': 497,
 '5997': 497,
 '7706': 494,
 '2536': 494,
 '76519': 488,
 '76526': 487,
 '42821': 484,
 '78720': 482,
 '4412': 479,
 'V4589': 477,
 '5570': 475,
 '7242': 475,
 '7843': 472,
 '0413': 470,
 '34290': 465,
 '41402': 464,
 '03842': 464,
 'V422': 463,
 '99672': 460,
 '2867': 456,
 '76517': 456,
 '2841': 454,
 '43889': 452,
 '25002': 452,
 '2753': 451,
 'V462': 451,
 '4011': 451,
 'E8790': 450,
 '77089': 444,
 '9975': 444,
 '25050': 435,
 '2866': 432,
 '53550': 430,
 '25080': 430,
 '4239': 430,
 '7904': 430,
 '39891': 429,
 '42831': 427,
 '3569': 426,
 '70715': 426,
 '43820': 426,
 '19889': 425,
 '44020': 425,
 '5771': 424,
 '70722': 423,
 '4821': 423,
 '3481': 422,
 'V1052': 420,
 '7802': 419,
 'V1082': 419,
 'E8780': 418,
 '5780': 416,
 '73390': 415,
 '99702': 412,
 '25061': 412,
 '7806': 410,
 '45621': 409,
 '42820': 408,
 '7766': 406,
 '25013': 401}

In [23]:
diag2idx = {}
for d in sorted_count.keys():
    if d not in diag2idx:
        diag2idx[d] = len(diag2idx)

### Convert code list

In [24]:
def diag_code2idx(org_lst):
    coded_lst = []
    for c in org_lst.split(','):
        if c in diag2idx:
            coded_lst.append(diag2idx[c])
    return coded_lst

In [25]:
df['CODED_DIAG'] = df['DIAG_CODES'].apply(diag_code2idx)

In [26]:
df.head()

,Unnamed: 0,TEXT,HADM_ID,ICD9_CODE,DIAG_CODES,HIGH_LVL_DIAG,CODED_HIGH_LVL_DIAG,CODED_DIAG
0,0,{Admission Date: [**2117-9-11**] ...,100001.0,25013 3371 5849 5780 V5867 25063 5363 4580 250...,"25013,3371,5849,5780,V5867,25063,5363,4580,250...","[250, 337, 584, 578, V58, 250, 536, 458, 250, ...","[2, 5, 9, 8, 17, 2, 8, 6, 2, 6, 9, 2, 5, 2, 11...","[299, 4, 291, 38, 238, 22, 165, 140]"
1,1,{Admission Date: [**2150-4-17**] ...,100003.0,53100 2851 07054 5715 45621 53789 4019 53550 7823,"53100,2851,07054,5715,45621,53789,4019,53550,7823","[531, 285, 070, 571, 456, 537, 401, 535, 782]","[8, 3, 0, 8, 6, 8, 6, 8, 15]","[14, 96, 88, 296, 0, 272]"
2,2,{Admission Date: [**2108-4-6**] Dischar...,100006.0,49320 51881 486 20300 2761 7850 3090 V1251 V1582,"49320,51881,486,20300,2761,7850,3090,V1251,V1582","[493, 518, 486, 203, 276, 785, 309, V12, V15]","[7, 7, 7, 1, 2, 15, 4, 17, 17]","[161, 7, 13, 28, 202, 60, 31]"
3,3,{Admission Date: [**2145-3-31**] ...,100007.0,56081 5570 9973 486 4019,"56081,5570,9973,486,4019","[560, 557, 997, 486, 401]","[8, 8, 16, 7, 6]","[250, 13, 0]"
4,4,{Admission Date: [**2162-5-16**] ...,100009.0,41401 99604 4142 25000 27800 V8535 4148 4111 V...,"41401,99604,4142,25000,27800,V8535,4148,4111,V...","[414, 996, 414, 250, 278, V85, 414, 411, V45, ...","[6, 16, 6, 2, 2, 17, 6, 6, 17, 17, 3, 6, 2, 6,...","[3, 5, 64, 141, 59, 33, 31, 11, 0, 10, 177, 38..."

### Notes preprocessing

In [27]:
def clean_text(text):
    return [x for x in list(itertools.chain.from_iterable([t.split("<>") for t in text.replace("\n"," ").split("|")])) if len(x) > 0]

In [28]:
most_frequent_tags = [re.match("^(.*?):",x).group() for text in df.TEXT for x in text.split("\n\n") if pd.notnull(re.match("^(.*?):",x))]

In [29]:
pd.Series(most_frequent_tags).value_counts().head(10)

{Admission Date:                         51667
Date of Birth:                           50930
Service:                                 50575
Allergies:                               41157
Attending:                               41016
Discharge Diagnosis:                     38639
Major Surgical or Invasive Procedure:    34917
Physical Exam:                           29175
Followup Instructions:                   28967
Facility:                                26668
dtype: int64

In [30]:
irrelevant_tags = ['Admission Date:', 'Date of Birth:', 'Service:', 'Allergies:', 'Attending:',
                  'Discharge Diagnosis:', 'Major Surgical or Invasive Procedure:', 'Physical Exam:',
                  'Followup Instructions:', 'Facility:']

updated_text = ["<>".join(["|".join(re.split("\n\d|\n\s+",re.sub("^(.*?):","",x).strip())) for x in text.split("\n\n") if pd.notnull(re.match("^(.*?):",x)) and re.match("^(.*?):",x).group() not in irrelevant_tags ]) for text in df.TEXT]
updated_text = [re.sub("(\[.*?\])", "", text) for text in updated_text]

updated_text = ["|".join(clean_text(x)) for x in updated_text]

In [31]:
df["CLEAN_WORDS"] = updated_text

In [32]:
df["CLEAN_WORDS"] = [" ".join([y for y in x.split("|") if len(y.split()) > 3]) for x in df["CLEAN_WORDS"]]

In [33]:
def remove_stopwords(text): 
        stop_words = set(stopwords.words("english")) 
        word_tokens = word_tokenize(text) 
        filtered_text = [word for word in word_tokens if word not in stop_words] 
        return filtered_text

In [34]:
def preprocess(note):
    note = note.replace('\n',' ')
    note = note.replace('w/', 'with')
    note = note.lower() #lower case
    note = re.sub(r'\d+', '', note) #remove numbers
    note = note.translate(str.maketrans('', '', string.punctuation)) #remove punctuation
    note = " ".join(note.split())
    note = remove_stopwords(note)
    return note

In [35]:
df['CLEAN_WORDS'] = df['CLEAN_WORDS'].apply(preprocess)

In [36]:
df.to_csv('../data/full_data.csv')

In [37]:
sample_20k = df.sample(n=20000)
sample_20k.to_csv('../data/clean.csv')

In [38]:
sample_2k = df.sample(n=2000)
sample_2k.to_csv('../data/clean_2k.csv')